.smarty-text {
  --font-size-display: 35px;
  --font-size-heading: 30px;
  --font-size-content-title: 18px;
  --font-size-body: 16px;
  --font-size-label: 14px;
  --font-weight-bold: bold;
  --font-weight-regular: normal;

  --margin-heading: 20px;
  --margin-content-title: 20px;

  font-family: var(--theme-font-family);
  color: var(--theme-color-text);
}

.st-display {
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-bold);
}
.st-heading {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--margin-heading);
}
.st-content-title {
  font-size: var(--font-size-content-title);
  font-weight: var(--font-weight-bold);
  margin-top: var(--margin-content-title);
}
.st-body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
}
.st-label {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-regular);
  color: var(--theme-color-label);
}

.st-ellipsize {
  width: 100%;
  max-lines: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .smarty-text {
    --font-size-display: 25px;
    --font-size-heading: 20px;
    --font-size-content-title: 15px;
    --font-size-body: 14px;
    --font-size-label: 14px;
  }
}