.dp-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.dp-content-container {
  margin-left: var(--theme-size-side-bar-width);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .dp-container {
    flex-direction: column;
  }

  .dp-content-container {
    margin-left: 0;
  }
}