@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --color-blue: #00B0FF;
  --color-white: #fff;
  --color-black: #333;
  --color-grey-100: #F1F2F3;
  --color-grey-150: #D3DDEB;
  --color-grey-200: #D6D9DC;
  --color-grey-300: #9B9B9B;
}

.light {
  --theme-font-family: var(--font-poppins);
  --theme-color-background: var(--color-grey-100);
  --theme-color-text: var(--color-black);
  --theme-color-secondary-text: var(--color-grey-300);
  --theme-color-label: var(--color-blue);
  --theme-color-shadow: var(--color-grey-200);
  --theme-color-border: var(--color-grey-150);
  --theme-color-card: var(--color-white);
  --theme-color-button-text: var(--color-white);
  --theme-color-button-card: var(--color-blue);
  --theme-size-side-bar-width: 300px;
  --theme-size-side-bar-height: 150px;
  --theme-size-distance-from-side: 50px;
  --theme-size-distance-from-top: 80px;
}

html {
  background-color: var(--theme-background-color);
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .light {
    --theme-size-distance-from-side: 30px;
    --theme-size-side-bar-height: 70px;
    --theme-size-details-distance-from-top: 30px;
  }
}
